<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <div *ngIf="selectedItem" class="selection">

    <div class="rarityBanner" id="veryCommon" *ngIf="selectedItem.rarity >= veryCommonMin" (click)="itemTapped($event)">VERY COMMON</div>
    <div class="rarityBanner" id="common" *ngIf="selectedItem.rarity >= commonMin && selectedItem.rarity < veryCommonMin" (click)="itemTapped($event)">COMMON</div>
    <div class="rarityBanner" id="uncommon" *ngIf="selectedItem.rarity >= uncommonMin && selectedItem.rarity < commonMin" (click)="itemTapped($event)">UNCOMMON</div>
    <div class="rarityBanner" id="rare" *ngIf="selectedItem.rarity >= rareMin && selectedItem.rarity < uncommonMin" (click)="itemTapped($event)">RARE</div>
    <div class="rarityBanner" id="veryRare" *ngIf="selectedItem.rarity >= veryRareMin && selectedItem.rarity < rareMin" (click)="itemTapped($event)">VERY RARE</div>
    <div class="rarityBanner" id="ultraRare" *ngIf="selectedItem.rarity >= ultraRareMin && selectedItem.rarity < veryRareMin" (click)="itemTapped($event)">ULTRA RARE</div>
    <div class="rarityBanner" id="special" *ngIf="selectedItem.rarity >= specialMin && selectedItem.rarity < ultraRareMin" (click)="itemTapped($event)">SPECIAL</div>
    <div class="rarityBanner" id="legendary" *ngIf="selectedItem.rarity >= 0.001 && selectedItem.rarity < specialMin" (click)="itemTapped($event)">LEGENDARY</div>
    <div class="rarityBanner" id="mythical" *ngIf="selectedItem.rarity === null" (click)="itemTapped($event)">MYTHICAL</div>

    <div id="textContainer">
      <div id="title" >{{selectedItem.name}}</div>

      <img src="pokemon/{{selectedItem.name}}.png" alt="{{selectedItem.name}}">

      <h1>Evolution:</h1>
      <div class="evolTo" *ngIf="selectedItem.evolCandy">
        This Pokémon can be evolved into {{selectedItem.evolTo}} with {{selectedItem.evolCandy}} candies.
      </div>
      <div class="evolTo" *ngIf="selectedItem.evolCandy === null">
        This Pokémon cannot be evolved into another Pokémon.
      </div>

      <div class="evolFrom" *ngIf="selectedItem.evolFrom">
        This Pokémon can be evolved from {{selectedItem.evolFrom}}.
      </div>
      <div class="evolFrom" *ngIf="selectedItem.evolFrom === null">
        You cannot get this Pokémon by evolving another Pokémon.
      </div>

      <h1>Eggs:</h1>
      <div class="eggKm" *ngIf="selectedItem.eggKm">
        This Pokémon can be hatched with a {{selectedItem.eggKm}}km egg.
      </div>
      <div class="eggKm" *ngIf="selectedItem.eggKm === null">
        This Pokémon cannot be hatched from an egg.
      </div>
    </div>
  </div>
</ion-content>
