* {
  touch-action: none;
}

div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
}

#title {
  margin-top: 5%;
}

#textContainer {
  padding: 0px 20px 20px;
}

.rarityBanner {
  height: 75px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  display:flex;
  justify-content: center; //horizontal centering
  align-items:center; //vertical centering
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: black;
  margin: auto;
  border-radius: 0px;
  font-weight: bold;
}

.evolTo,
.evolFrom {
  margin-bottom: 20px;
}

.rarityBanner.chart {
  height: 11.11%;
}

#veryCommon {
  background-color: #01FF70;
}
#common {
  background-color: #2ECC40;
}
#uncommon {
  background-color: #3D9970;
}
#rare {
  background-color: #FFDC00;
}
#veryRare {
  background-color: #FF851B;
}
#ultraRare {
  background-color: #FF4136;
}
#special {
  background-color: #0074D9;
}
#legendary {
  background-color: #B10DC9;
}
#mythical {
  background-color: #111111;
}



