<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <div *ngIf="selectedItem" class="selection">
    <b>{{selectedItem.name}}</b>

    <div *ngIf="selectedItem.types" *ngFor="let type of selectedItem.types">
      {{type}}
    </div>

    <div *ngIf="selectedItem.evolCandy">
      {{selectedItem.evolCandy}}
    </div>

    <div *ngIf="selectedItem.eggKm">
      {{selectedItem.eggKm}}
    </div>

    <div *ngIf="selectedItem.fastAttacks" *ngFor="let fastAttack of selectedItem.fastAttacks">
      {{fastAttack}}
    </div>
    
    <div *ngIf="selectedItem.specialAttacks" *ngFor="let specialAttack of selectedItem.specialAttacks">
      {{specialAttack}}
    </div>

  </div>
</ion-content>
