<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <div *ngIf="selectedItem" class="selection">
    <div class="veryCommon" *ngIf="selectedItem.rarity >= veryCommonMin">VERY COMMON</div>
    <div *ngIf="selectedItem.rarity >= commonMin && selectedItem.rarity < veryCommonMin">COMMON</div>
    <div *ngIf="selectedItem.rarity >= rareMin && selectedItem.rarity < commonMin">UNCOMMON</div>
    <div *ngIf="selectedItem.rarity >= veryRareMin && selectedItem.rarity < rareMin">RARE</div>
    <div *ngIf="selectedItem.rarity >= ultraRareMin && selectedItem.rarity < veryRareMin">VERY RARE</div>
    <div *ngIf="selectedItem.rarity >= epicMin && selectedItem.rarity < ultraRareMin">ULTRA RARE</div>
    <div *ngIf="selectedItem.rarity >= specialMin && selectedItem.rarity < epicMin">SPECIAL</div>
    <div *ngIf="selectedItem.rarity < specialMin">LEGENDARY</div>


    <div>{{selectedItem.name}}</div>

    <img src="pokemon/{{selectedItem.name}}.png" alt="{{selectedItem.name}}">

    <h1>Type:</h1>
    <div *ngIf="selectedItem.types" *ngFor="let type of selectedItem.types">
      {{type}}
    </div>

    <h1>Evolution:</h1>
    <div *ngIf="selectedItem.evolCandy">
      This Pokemon can be evolved into {{selectedItem.evolTo}} with {{selectedItem.evolCandy}} candies.
    </div>
    <div *ngIf="selectedItem.evolCandy === null">
      This Pokemon cannot be evolved into another Pokemon.
    </div>

    <div *ngIf="selectedItem.evolFrom">
      This Pokemon can be evolved from {{selectedItem.evolFrom}}.
    </div>
    <br>
    <div *ngIf="selectedItem.evolFrom === null">
      You cannot get this Pokemon by evolving another Pokemon.
    </div>

    <h1>Eggs:</h1>
    <div *ngIf="selectedItem.eggKm">
      This Pokemon can be hatched with a {{selectedItem.eggKm}}km egg.
    </div>
    <div *ngIf="selectedItem.eggKm === null">
      This Pokemon cannot be hatched from an egg.
    </div>

  </div>
</ion-content>
