div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
}

#title {
  margin-top: 5%;
}

#textContainer {
  padding: 0px 20px 20px;
}

.rarityBanner {
  height: 75px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  display:flex;
  justify-content: center; //horizontal centering
  align-items:center; //vertical centering
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: black;
}

.rarityBanner.chart {
  height: 11.11%;
}

#veryCommon {
  background-color: lightgreen;
}
#common {
  background-color: green;
}
#uncommon {
  background-color: darkgreen;
}
#rare {
  background-color: yellow;
}
#veryRare {
  background-color: orange;
}
#ultraRare {
  background-color: red;
}
#special {
  background-color: blue;
}
#legendary {
  background-color: purple;
}
#mythical {
  background-color: black;
}



